@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Montserrat:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

$droid: 'Droid Serif', serif;
$montserrat: 'Montserrat', sans-serif;

$accent: #f99e35;

html,
body {
  -webkit-font-smoothing: antialiased;
}

body {
  @include clearfix;
  background-color: white;
  color: #333333;
  font-family: $droid;
  line-height: 1.5em;
}

.container {
  @include outer-container;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $montserrat;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a, a:visited {
  color: $accent;
  text-decoration: none;
  &:hover {
    color: darken($accent, 25%);
  }
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.25em;
}

hr {
  width: 80%;
  height: 1px;
  background-color: $accent;
  border: none;
  margin: 2em auto;
}


header {
  background-color: #333333;
  height: 120px;
  line-height: 120px;
  font-family: $montserrat;
  text-transform: uppercase;
  letter-spacing: 2px;
  .logo {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    height: 100px;
  }
  nav {
    float: right;
    display: inline-block;
    color: white;
    height: 120px;
    vertical-align: middle;
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      margin: 0 1em;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      i {
        font-size: 1.5em;
        position: relative;
        top: 4px;
      }
    }
  }
}

.page-wrap {
  margin: 4em 0;
}

.board-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    @include span-columns(12);
    margin-bottom: 2em;
    padding-bottom: 2em;
  }
  .profile {
    @include span-columns(3 of 12);
  }
  .member-bio {
   @include span-columns(9 of 12);
   @include omega();
  }
}

.blog-title {
  text-align: center;
}

.meta {
  text-align: center;
  font-style: italic;
}

.post-wrapper {
  @include span-columns(8);
  @include shift(2);
}

footer {
  border-top: 4px solid $accent;
  p.copyright {
    text-align: center;
    text-transform: uppercase;
    font-family: $montserrat;
    font-size: .75em;
  }
}



.front {
  background-color: #333333;
  color: white;


header,section,footer {
  @include span-columns(12);
  height: auto;
}

#header-headline, #header-img {
  @include span-columns(6);
}

#header-headline {
  text-align: center;
  padding: 0 10px;
  img.logo {
    margin-top: 2em;
    width: 60%;
    height: auto;
  }
  h1 {
    margin-top: 1em;
    line-height: 1.25em;
  }
}

#header-img img {
  display: block;
}

section#about {
  background-color: white;
  color: #333333;
  padding: 4em 0;
  // border-top: 4px solid $accent;
  // border-bottom: 4px solid $accent;
}

.about-col {
  @include span-columns(4);
  @include omega(3n);
  @include pad(0 20px);
  text-align: center;
  h2 {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.25em;
    margin: .5em auto 0 auto;
    border-bottom: 2px solid $accent;
    padding-bottom: .5em;
  }
}

.social {
  ul {
    margin-left: 0;
    padding: 0;
    list-style: none;
    a {
      display: block;
      padding-bottom: .5em;
      font-size: 1.25em;
      font-family: $montserrat;
    }
  }
}

section#feed {
  padding: 4em 0;
  h2 {
    text-align: center;
    line-height: 1.25em;
  }
  #instafeed {
    img {
      display: block;
      float: left;
      width: 25%;
      height: auto;
    }
  }
}




@include media($small) {
  header,section,footer {
  @include span-columns(1);
}

#header-headline, #header-img {
  @include span-columns(1);
}

#header-headline {
  h1 {
    margin-bottom: 1.5em;
  }
}

.about-col {
  @include span-columns(1);
}
section#feed {
  padding: 4em 0;
  h2 {
    text-align: center;
    font-size: 2em;
    line-height: 1.25em;
  }
  #instafeed {
    img {
      width: 50%;
    }
  }
}
}
}