<header>
<div class='container'>
  <a href="/"><img src="/logo2.svg" class='logo'></a>
  <nav>
    <ul>
      <li><a href="/board">Board</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href='http://instagram.com/sylaveneighbors'><i class="fa fa-instagram"></i></a></li>
      <li><a href='https://www.facebook.com/SANeighbors'><i class="fa fa-facebook"></i></a></li>
      <li><a href='https://twitter.com/SANeighbors'><i class="fa fa-twitter"></i></a></li>
    </ul>
  </nav>
</div>
</header>